{% extends 'bill/basic.html' %}
{% block title %} About {% endblock %}

{% block body %}
    <br>
    <br>

    <div class="container ">
    <h1><p>How to Add Details ??</p></h1>
        <h2>For adding Details Click on Enter Data Which is on Home page And add you data Regarding the format of the that page !!!   </h2>
    </div>

     <br>
    <br>

     <div class="container ">
    <h1><p>How to Check Bill ??</p></h1>
        <h2>Just click on the bill and You can see your bill(if there is any of them) and then check that you have paid it or not and if it is not then just go and pay !!!    </h2>
    </div>

      <br>
    <br>

     <div class="container ">
    <h1><p>How to Check That the Bill is has been paid or not  ??</p></h1>
        <h2>Just click on the bill and You can see your bill(if there is any of them) and then check that your bill has column name paid or not if it is  <b>TRUE</b> then you paid it and if it not then go and pay   !!!    </h2>
    </div>



{% endblock %}
